<div class="content">
	<div [ngClass]="{ bannerHover: bannerHover, banner: true }">
		<h1 [ngClass]="{ titleHover: bannerHover, title: true }">
			{{ title }}
		</h1>
		<div class="wrapper">
			<button (click)="loadClickedRepo()">Refresh Data</button>
        </div>
		<p
			[ngStyle]="{ display: showError ? 'block' : 'none' }"
			class="errorHolder"
		>
			{{ errorMsg }}
		</p>

		<div
			[ngClass]="{ mainHolderHover: showRepos, repoHolder: true }"
			[ngStyle]="{ display: showRepos ? 'flex' : 'none' }"
		>
			<div
				class="holder"
				*ngFor="let repo of cachedRepos"
				(click)="loadClickedRepo()"
			>
				<div class="line line1"></div>
				<div class="text">
					<h6>{{ repo.id.split("/")[0] }}</h6>
					<p>{{ repo.name }}</p>
				</div>
				<div class="line line2"></div>
			</div>
		</div>

		<div [ngClass]="{ mainHolderHover: showStats, mainHolder: true }">
			<div class="holder">
				<h4>LATEST RELEASE</h4>
				<h5>{{ totalLatestUsers }} downloads</h5>
				<div class="infoHolder">
					<div
						class="latestAssets"
						*ngFor="let asset of latestAssets"
					>
						<div class="box">
							<div class="name">
								{{
									asset.name.length > nameLength
										? asset.name.slice(0, nameLength) +
										  "..."
										: asset.name
								}}
                                ({{ jsonData[0].tag_name }})
                                {{ asset.download_count }} downloads
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="holder">
				<h4>TOTAL DOWNLOADS</h4>
				<h5>{{ totalDownloads }}<span> downloads</span></h5>
				<div class="infoHolder">
					<div class="latestAssets" *ngFor="let release of releases">
						<div class="box">
                            <div class="name">
                                {{ release.name }}
                                ({{ release.tag }})
                                {{ release.downloads }} downloads
                            </div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
